// media
$breakpoint-small: 700px;
$breakpoint-med-small: 960px;
$breakpoint-med: 1175px;

// colors
$primary-color: #fff;
$secondary-color: #4338ca;
$text-color: rgba(75, 85, 99, 1);
$dark-color: #000000;
$gray-color: #ece4e4;

// fonts
$font-inter: "Inter", sans-serif;
$font-Montserrat: "Montserrat", sans-serif;
$font-Poppins: "Poppins", sans-serif;
$font-Catamaran: "Catamaran", sans-serif;
$font-DancingScript: "Dancing Script", cursive;
