@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Dancing+Script:wght@700&family=Fascinate+Inline&family=Inter:wght@400;500;700&family=Montserrat:wght@200;300;500;600;700&family=Poppins:wght@400;500;700&display=swap");

$breakpoint-small: 700px;
$breakpoint-med-small: 960px;
$breakpoint-med: 1175px;

$primary-color: #fff;
$secondary-color: #4338ca;
$text-color: rgba(75, 85, 99, 1);
$dark-color: #000000;
$gray-color: #ece4e4;
$font-inter: "Inter", sans-serif;
$font-Montserrat: "Montserrat", sans-serif;
$font-Poppins: "Poppins", sans-serif;
$font-Catamaran: "Catamaran", sans-serif;
$font-DancingScript: "Dancing Script", cursive;

@mixin phone {
  @media (max-width: $breakpoint-small) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpoint-med-small) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $breakpoint-med) {
    @content;
  }
}
